html, body{
  background-image: url("./image/bg.jpg"); 
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  /* align-items: center;
  justify-content: center; */
}

.heading{
  position: absolute;
  top: 5%;
  left: 40%;
  font-size: x-large;
  color: gold;
}

.sun{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: gold;
  border-radius: 50%;
  box-shadow: 0 0 50px gold;
  transform: translate(-50%, -50%); 
}

.mercury{
  position: absolute;
  width: 20px;
  height: 20px; 
  background-image: url("./image/mercury.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(40px, 40px);
  transform-origin: top left;
  animation: rotate-mercury 7s linear infinite;
}

.venus{
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("./image/venus.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(80px, -80px);
  animation: rotate-venus 15s linear  infinite;
}

.earth{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("./image/earth.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(120px, -120px);
  transform-origin: top left;
  animation: rotate-earth 12s linear infinite;
}

.earth::before{
  content: " ";
  position: absolute;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px dashed rgba(153, 0, 0, 0.5);
  box-sizing: border-box;
  transform-origin: 0 0; 
  transform: translate(-50%, -50%);
 }

.moon{
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(40px, 40px);
  background-image: url("./image/moon.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform-origin: 25px 25px;
  animation: rotate-moon 10s linear infinite;
}

.mars{
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url("./image/mars.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(170px,-170px);
  animation: rotate-mars 14s linear infinite;
}

.jupiter{
  position: absolute;
  width: 65px;
  height: 65px;
  background-image: url("./image/jupiter.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(200px,-200px);
  animation: rotate-jupiter 16s linear infinite;
}

.saturn{
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("./image/saturn.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(250px,-250px);
  animation: rotate-saturn 17s linear infinite;
}

.uranus{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("./image/uranus.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(270px,-270px);
  animation: rotate-uranus 20s linear infinite;
}

.neptune{
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url("./image/neptune.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform: translate(300px,-300px);
  animation: rotate-neptune 25s linear infinite;
}

@keyframes rotate-mercury
{
  0%
  {
    transform: rotate(0deg) translate(40px, 40px);
  }
  100%
  {
    transform: rotate(360deg) translate(40px, 40px);
  }
}

@keyframes rotate-venus
{
  0%
  {
    transform: rotate(0deg) translate(80px, -80px)
  }
  100%
  {
    transform: rotate(360deg) translate(80px, -80px);
  }
}

@keyframes rotate-earth
{
  0%
  {
    transform: rotate(0deg) translate(120px, -120px);
  }
  100%
  {
    transform: rotate(360deg) translate(120px, -120px);
  }
}

@keyframes rotate-moon
{
  0%
  {
    transform: rotate(0deg) translate(50px, 50px)
  }
  100%
  {
    transform: rotate(360deg) translate(50px, 50px)
  }
} 

@keyframes rotate-mars
{
  0%
  {
    transform: rotate(0deg) translate(170px,-170px)
  }
  100%
  {
    transform: rotate(360deg) translate(170px,-170px)
  }
}
@keyframes rotate-jupiter
{
  0%
  {
    transform: rotate(0deg) translate(200px,-200px)
  }
  100%
  {
    transform: rotate(360deg) translate(200px,-200px)
  }
}

@keyframes rotate-saturn
{
  0%
  {
    transform: rotate(0deg) translate(250px,-250px)
  }
  100%
  {
    transform: rotate(360deg) translate(250px,-250px)
  }
} 

@keyframes rotate-uranus
{
  0%
  {
    transform: rotate(0deg) translate(270px,-270px)
  }
  100%
  {
    transform: rotate(360deg) translate(270px,-270px)
  }
}

@keyframes rotate-neptune
{
  0%
  {
    transform: rotate(0deg) translate(300px,-300px)
  }
  100%
  {
    transform: rotate(360deg) translate(300px,-300px)
  }
}