html, body{
  background-image: url("./image/dark-blue-pattern-with-abstract-stars-vector.jpg"); 
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  /* align-items: center;
  justify-content: center; */
}

.heading{
  position: absolute;
  top: 0%;
  left: 40%;
  color: gold;
}

.sun{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: gold;
  border-radius: 50%;
  box-shadow: 0 0 50px gold;
  transform: translate(-50%, -50%); 
}

.mercury{
  position: absolute;
  width: 10px;
  height: 10px; 
  background-color: rgb(193, 149, 61);
  border-radius: 50%;
  transform: translate(50px, 50px);
  transform-origin: top left;
  animation: rotate-mercury 12s linear infinite;
}

.venus{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(47, 170, 41);
  border-radius: 50%;
  transform: translate(150px);
  animation: rotate-venus 12s linear  infinite;
}

.earth{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("./image/earth.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* background-color: darkcyan; */
  border-radius: 50%;
  transform: translate(150px, -150px);
  transform-origin: top left;
  animation: rotate-earth 30s linear infinite;
}

.earth::before{
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px dashed rgba(153, 0, 0, 0.5);
  box-sizing: border-box;
  transform-origin: 0 0; 
  transform: translate(-50%, -50%);
 }

.moon{
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(50px, 50px);
  background-image: url("./image/moon.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  transform-origin: 25px 25px;
  animation: rotate-moon 12s linear infinite;
}

.mars{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 400px;
  left: 0px;
  background-color: rgb(35, 9, 230);
  border-radius: 50%;
  transform-origin: top left;
  animation: rotate-mars 12s linear 3s infinite;
}

.jupiter{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 420px;
  left: -10px;
  background-color: rgb(253, 17, 166);
  border-radius: 50%;
  transform-origin: top left;
  animation: rotate-jupiter 12s linear 2s infinite;
}

.saturn{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 400px;
  left: -10px;
  background-color: rgb(225, 252, 21);
  border-radius: 50%;
  transform-origin: top left;
  animation: rotate-saturn 12s linear 3s infinite;
}

.uranus{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 400px;
  left: -10px;
  background-color: rgb(229, 20, 20);
  border-radius: 50%;
  transform-origin: top left;
  animation: rotate-uranus 12s linear 1s infinite;
}

/* .neptune{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 400px;
  left: -10px;
  background-color: darkcyan;
  border-radius: 50%;
  transform-origin: top left;
  animation: rotate-neptune 12s linear 2s infinite;
} */

@keyframes rotate-mercury
{
  0%
  {
    transform: rotate(0deg) translate(50px, 50px);
  }
  100%
  {
    transform: rotate(360deg) translate(50px, 50px);
  }
}

@keyframes rotate-venus
{
  0%
  {
    transform: rotate(0deg) translate(150px)
  }
  100%
  {
    transform: rotate(360deg) translate(150px)
  }
}

@keyframes rotate-earth
{
  0%
  {
    transform: rotate(0deg) translate(150px, -150px);
  }
  100%
  {
    transform: rotate(360deg) translate(150px, -150px);
  }
}

@keyframes rotate-moon
{
  0%
  {
    transform: rotate(0deg) translate(50px, 50px)
  }
  100%
  {
    transform: rotate(360deg) translate(50px, 50px)
  }
} 

/* 





@keyframes rotate-mars
{
  0%
  {
    transform: rotate(0deg) translate(200px)
  }
  100%
  {
    transform: rotate(360deg) translate(200px)
  }
}

@keyframes rotate-jupiter
{
  0%
  {
    transform: rotate(0deg) translate(250px)
  }
  100%
  {
    transform: rotate(360deg) translate(250px)
  }
}

@keyframes rotate-saturn
{
  0%
  {
    transform: rotate(0deg) translate(300px)
  }
  100%
  {
    transform: rotate(360deg) translate(300px)
  }
}

@keyframes rotate-uranus
{
  0%
  {
    transform: rotate(0deg) translate(310px)
  }
  100%
  {
    transform: rotate(360deg) translate(310px)
  }
}

@keyframes rotate-neptune
{
  0%
  {
    transform: rotate(0deg) translate(320px)
  }
  100%
  {
    transform: rotate(360deg) translate(320px)
  }
}


*/

/* .earth,
.moon {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent;
  border-width: 1px 1px 1px 1px;
  border-radius: 50%;
} */